.counter-container {
    display: flex;
    gap: 1rem;
}

button {
    background: none;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    background: black;
    color: white;
    cursor: pointer;
}

button:hover {
    background: red;
    color: white;
}